.top-brands{
    padding-top: 30px;
}

.top-brands-cover{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--primary-bg);
    box-shadow: var(--collection-shadow);
    border: 0.5px solid var(--border-white);

}

.top-brands-image{
    object-fit: cover;
    border: inherit;
    overflow: hidden;
width: 100%;
height: 100%;
}

.brand-covername {
    line-height: 1.2;
    color: rgb(28, 28, 28);
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 1rem 0px 0px;
    word-break: break-word;
}

.brand-covertime{
    line-height: 1.2;
    font-weight: 400;
    color: rgb(28, 28, 28);
    text-align: center;
    font-size: 1rem;
    margin: 1rem 0px;
}